<section class="theory">
  <h1 class="theory__title">Primeros Tests</h1>
  <ol>
    <!-- Ejemplo -->
    <li class="theory__li">
      <h2 class="theory__subtitle">Ejemplo</h2>
    </li>
    <p class="theory__text">
      En este ejemplo se tiene un contador básico con dos botónes los cuales
      incrementan el valor del contador en +1 y -1. Adicionalmente existe una
      validación de cuando el contador tiene un valor mayor o igual a 10 es
      botón de incrementar se deshabilita.
    </p>
    <p class="theory__text">
      Existe un tercer botón el cual incrementa el valor del contador en +1
      diferido en 3 segundos, este boton se deshabilita hasta que pasen los tres
      segundos
    </p>
    <li class="theory__li">
      <h2 class="theory__subtitle">detectChanges()</h2>
    </li>
    <p class="theory__text">
      se utiliza en pruebas de Angular para notificar al sistema de detección de
      cambios (change detection) que se deben aplicar los cambios en los
      componentes y actualizar la vista. En Angular, el sistema de detección de
      cambios es el encargado de detectar y aplicar los cambios en los datos de
      los componentes y propagarlos a través de la vista. Esto asegura que la
      interfaz de usuario se mantenga sincronizada con el estado de la
      aplicación.
    </p>
    <li class="theory__li">
      <h2 class="theory__subtitle">fakeAsync()</h2>
    </li>
    <p class="theory__text">
      Se utiliza para facilitar las pruebas de código asíncrono. Esta función te
      permite escribir pruebas para código que involucra operaciones asíncronas,
      como promesas o temporizadores. Al envolver una prueba con fakeAsync(),
      puedes utilizar ciertas funciones especiales proporcionadas por Jasmine,
      como tick() y flush().
    </p>
    <li class="theory__li">
      <h2 class="theory__subtitle">tick()</h2>
    </li>
    <p class="theory__text">
      La función tick() se utiliza para avanzar el tiempo en milisegundos
      específicos y simular que han pasado en el entorno de la prueba. Esto es
      útil cuando se trabaja con temporizadores o promesas que tienen retrasos
      en su resolución.
    </p>
    <li class="theory__li">
      <h2 class="theory__subtitle">nativeElement</h2>
    </li>
    <p class="theory__text">
      Proporciona acceso directo al elemento HTML real del componente dentro de
      la prueba. Esto te permite interactuar directamente con el DOM del
      componente y realizar aserciones en su contenido, estilos, eventos, etc.
    </p>
    <li class="theory__li">
      <h2 class="theory__subtitle">(done: DoneFn)</h2>
    </li>
    <p class="theory__text">
      se utiliza para indicar que una prueba es asincrónica y debe esperar a que
      se llame a la función done() para completarse. Cuando necesitas realizar
      pruebas unitarias de código asincrónico, como simular llamadas a APIs o
      operaciones que devuelven promesas, puedes utilizar (done: DoneFn) para
      asegurarte de que la prueba espere a que se completen las operaciones
      asincrónicas antes de finalizar.
    </p>
  </ol>
</section>
