.intermediate-index {
    align-content: start;
    align-items: center;
    box-sizing: border-box;
    display: grid;
    gap: 2rem;
    grid-template-columns: 30% 30% 30%;
    height: 100%;
    overflow-y: scroll;
    padding: 20px;
    width: 100%;
  }
  .intermediate-index__loading{
    grid-area: 1/2;
    text-align: center;
    font-size: 1.5rem;
  }