<nav class="menu">
    <h1 class="menu__title">Menú</h1>
    <ul class="menu__list">
        <li class="menu__item">
            <a class="menu__link" routerLink="/basico">Test Básicos</a>
        </li>
        <ul class="menu__list menu__list--sublist">
            <li class="menu__item menu__item--subitem">
                <a class="menu__link menu__link--sublink" routerLink="/basico/teoria">Introducción</a>
            </li>
            <li class="menu__item menu__item--subitem">
                <a class="menu__link menu__link--sublink" routerLink="/basico/ejemplo">Ejemplo</a>
            </li>
            <li class="menu__item menu__item--subitem">
                <a class="menu__link menu__link--sublink" routerLink="/basico">Explicación Ejemplo</a>
            </li>
        </ul>
        <li class="menu__item">
            <a class="menu__link" routerLink="/intermedio">Test Intemedios</a>
        </li>
        <li class="menu__item">
            <a class="menu__link" routerLink="/">Próximo...</a>
        </li>
    </ul>
</nav>