<nav class="menu">
  <h2 class="menu__title">Menú</h2>
  <ul class="menu__list">
    <ng-container *ngFor="let menuItem of menuList">
      <li class="menu__item">
        <a class="menu__link" [routerLink]="menuItem.path"
          >{{ menuItem.label }}
        </a>
      </li>
      <ng-container *ngIf="menuItem.children">
        <ng-container *ngFor="let subMenu of menuItem.children">
          <ul class="menu__list menu__list--sublist">
            <li class="menu__item menu__item--subitem">
              <a
                *ngIf="subMenu.isRelative"
                class="menu__link menu__link--sublink"
                [routerLink]="subMenu.path"
                > {{ subMenu.label }} </a
              >
              <a
                *ngIf="!subMenu.isRelative"
                class="menu__link menu__link--sublink"
                [href]="subMenu.path"
                target="_blank"
                > {{ subMenu.label }} </a
              >
            </li>
          </ul>
        </ng-container>
      </ng-container>
    </ng-container>
  </ul>
</nav>
