:root {
  --color-background: #2a2a2a;
  --color-primary: #42beae;
  --color-secondary: #2faec8;
  --color-text: #fff;
  --color-contrast: #111111;
  --color-contrast-50: #272727;
  --color-contrast-light: #dfdfdf;
  --color-black: #000;
  --color-error: #e72939;
}
